.chip {
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 4px 8px;
  color: #fff;
  background-color: gray;
  border-radius: 40px;
  width: fit-content;
  font-size: 14px;
}

.chip svg {
  height: 16px;
  width: 16px;
  cursor: pointer;
}
